/*The styling of all the h2 with ID al_boxes_example2 headings within example2.html page*/
#all_boxes_example2 {
  font-size: 24px;  /*The Font size*/
  color: #fcfcfc; /*The text colour*/
  font-family: 'Roboto', sans-serif;  /*The font Roboto is used*/
  font-weight: bold;  /*The font is in bold*/
  margin-top: 80px; /*An additional 80px is added to the top margin of the box*/
  margin-bottom: -75px; /*A negative -75px is added to the bottom of the margin*/
  text-align: center; /* The text are centered within the boxes */
}


/*The style for all the boxes witin the container of the Example2.html page*/
.container {
  /* The child elements is arranged in a column by using the flexbox*/
  display: flex;
  flex-direction: column;
  align-items: center; /*The boxes within the container is horizontally centered*/
  text-align: center; /* The text are centered within the boxes */
  justify-content: center;  /*The boxes are vertically aligned within the container*/
}

/*All the styling for box1 within the Example2.html page*/
.box1_example2 {
  background-color: rgb(240, 238, 238); /*The colour of the background of the box*/
  border: 10px solid rgb(128, 0, 0);  /*The colour of the border*/
  /*The width and the height of the box*/
  width: 550px;
  height: 250px;
  margin: 5px; /* Margins are added to the boxes */
  margin-top: 80px; /*An additional 80px is added to the top margin of the box*/
  text-align: left; /* The text are alligned to the left within the box */
  overflow: auto; /* A scroll bar is added if content inside the box exceeds the box*/
  font-weight: bold;  /*The font is in bold*/
}

/*All the styling for box2 within the Example2.html page*/
.box2_example2 {
  background-color: rgb(240, 238, 238); /*The colour of the background of the box*/
  border: 10px solid rgb(128, 0, 0);  /*The colour of the border*/
  /*The width and the height of the box*/
  width: 550px;
  height: 350px;
  margin: 5px; /* Margins are added to the boxes */
  margin-top: 80px; /*An additional 80px is added to the top margin of the box*/
  text-align: center; /* The text are centered within the boxes */
  overflow: auto; /* A scroll bar is added if content inside the box exceeds the box*/
}

/*All the styling for box3 within the Example2.html page*/
.box3_example2 {
  background-color: rgb(240, 238, 238); /*The colour of the background of the box*/
  border: 10px solid rgb(128, 0, 0);  /*The colour of the border*/
  /*The width and the height of the box*/
  width: 550px;
  height: 350px;
  margin: 5px; /* Add margin between boxes */
  margin-top: 80px; /*An additional 80px is added to the top margin of the box*/
  text-align: center; /* The text are centered within the boxes */
  overflow: auto; /* A scroll bar is added if content inside the box exceeds the box*/
}

/*All the styling for refresh button within the Example2.html page*/
.refresh {
  background-color: #ba4f8c; /*The background colour of the button*/
  color: #fff; /*The text colour*/
  padding: 5px 20px; /*The padding around the text of the button*/
  border: none; /*The border is removed*/
  cursor: pointer; /* The style of the curser, which is a pointer (a little hand) */
  font-family: 'Roboto', sans-serif;  /*The font Roboto is used*/
  font-weight: bold;  /*The font is in bold*/
  font-size: 16px; /*The Font size*/
}


/* Style for the "fade" button within the Example2.html page  */
.fade {
  background-color: #ba4f8c; /*The background colour of the button*/
  color: #fff; /*The text colour*/
  padding: 5px 20px; /*The padding around the text of the button*/
  border: none; /*The border is removed*/
  cursor: pointer; /* The style of the curser, which is a pointer (a little hand) */
  font-family: 'Roboto', sans-serif;  /*The font Roboto is used*/
  font-weight: bold;  /*The font is in bold*/
  font-size: 16px; /*The Font size*/
}

/*All the styling for the refresh and fade buttons hover effect within the Example2.html page*/
.refresh:hover, .fade:hover {
  background-color: #620b39; /* The colour to which the button will change once the pointer is hovered above it*/
}
